<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="All Tests">
            <directory prefix="test-" suffix=".php">tests/php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">includes</directory>
        </whitelist>
    </filter>
</phpunit>
